.stack-area {
  border: 3px dashed #aaa;
  min-height: 350px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.nodo {
  width: 130px;
  height: 45px;
  background: #0d6efd;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-weight: bold;
  transition: transform 0.25s ease, opacity 0.25s ease;
  animation: spawn 0.25s ease;
}

@keyframes spawn {
  from { transform: scale(0.3); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

.nodo.pop {
  animation: eliminar 0.25s ease;
}

@keyframes eliminar {
  from { transform: scale(1); opacity: 1; }
  to   { transform: scale(0.1); opacity: 0; }
}
